{% extends "base.html.twig" %}

{% block title %}{{parent()}}Maintenance{% endblock %}

{% block contenu %}
<h1>Veuillez nous excuser. Il semble y avoir un problème.</h1>
<br>
<a class="nav-link text-white" href="index.php?page=accueil">Retour à l'accueil</a>
{% endblock %}